<!DOCTYPE html>
<html>

<head>
	<title>Random Quote</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
</head>

<body>
	<h1>Случайная цитата</h1>

	<div class="random-quote-container">
		{% if quote %}
		<p class="quote-text" id="quote">“{{ quote.text }}”</p>
		<p><strong>Источник:</strong> {{ quote.source }}</p>
		<p><strong>Просмотры:</strong> {{ quote.views }}</p>

		<form action="{% url 'vote_quote' quote.id %}" method="post">
			{% csrf_token %}
			<button type="submit" name="vote" value="like" class="like-btn">❤️ {{ quote.likes }}</button>
			<button type="submit" name="vote" value="dislike" class="dislike-btn">👎 {{ quote.dislikes }}</button>
		</form>
		{% endif %}
	</div>

	<script>
		window.addEventListener('DOMContentLoaded', () => {
			const quote = document.getElementById('quote');
			if (quote) {
				setTimeout(() => {
					quote.classList.add('show');
				}, 100);
			}
		});
	</script>


</body>

</html>