<!DOCTYPE html>
<html>

<head>
	<title>Top Quotes</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
</head>

<body>
	<h1>Топ-10 цитат</h1>

	<div class="sort-buttons">
		<a href="?sort=likes">
			<button class="{% if sort == 'likes' %}active{% endif %}">👍 По лайкам</button>
		</a>
		<a href="?sort=rating">
			<button class="{% if sort == 'rating' %}active{% endif %}">⚖️ По рейтингу</button>
		</a>
		<a href="?sort=views">
			<button class="{% if sort == 'views' %}active{% endif %}">👀 По просмотрам</button>
		</a>
	</div>


	<div class="top-quotes-container">
		{% if quotes %}
		<ol>
			{% for quote in quotes %}
			<li>
				<p><strong>“{{ quote.text }}”</strong></p>
				<p><em>Источник:</em> {{ quote.source }}</p>
				<p>Лайки: {{ quote.likes }} | Дизлайки: {{ quote.dislikes }}</p>
				<p>Рейтинг: {{ quote.rating }}</p>
				<p>Просмотры: {{ quote.views }}</p>
			</li>
			{% endfor %}
		</ol>
		{% else %}
		<p>Цитат пока нет.</p>
		{% endif %}
	</div>

</body>

</html>